[defaults]
# Força o Ansible a usar o cliente SSH externo
transport = ssh

# Desabilita warnings de depreciação
deprecation_warnings = False

# Caminho para inventário padrão (se quiser)
inventory = ./inventory

[ssh_connection]
# Ajusta parâmetros para switches antigos
ssh_args = -oKexAlgorithms=+diffie-hellman-group14-sha1 -oCiphers=+aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc -oHostKeyAlgorithms=+ssh-rsa -oPubkeyAcceptedKeyTypes=+ssh-rsa
