[defaults]
deprecation_warnings = False
inventory = ./inventory

[ssh_connection]
ssh_executable = /usr/bin/ssh
ssh_args = -oKexAlgorithms=+diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1 \
           -oCiphers=+aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc \
           -oHostKeyAlgorithms=+ssh-rsa \
           -oPubkeyAcceptedKeyTypes=+ssh-rsa \
           -oMACs=+hmac-sha1
           
