[defaults]
deprecation_warnings = False
inventory = ./inventory
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
ssh_executable = /usr/bin/ssh
ssh_args = -oKexAlgorithms=+diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1 -oHostKeyAlgorithms=+ssh-rsa -oCiphers=aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc
